h1,
h2 {
    font-family: 'Cinzel', serif;
}

#detailed-movie-info {
    height: 100%;

}

p {
    font-size: 24px;
}

.footer-text {
    font-size: 16px;
}

.has-margin-bottom-50 {
    margin-bottom: 50px;
}

/* h2.title.is-2.mb-5, */
/* p.content.s-size-4.mb-6 { */
/* margin-bottom: 3rem; */
/* or your desired value */
/* } */

.text-uppercase {
    text-transform: uppercase;
}

body {
    background-color: aquamarine;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.app-title {
    font-size: 3rem;
}

i {
    color: var(--bulma-primary-15);
}