h1,
h2 {
    font-family: 'Cinzel', serif;
}

/* FONT UTILS */
.text-uppercase {
    text-transform: uppercase;
}

body {
    background-color: aquamarine;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal {
    background-color: aliceblue;
}

/* added background to the modal */
.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the last value (alpha) to control the transparency */
}